# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Model Files
*.pkl
*.joblib
*.h5

# Logs
*.log